@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/dragonflight-background.jpg);
}

.metamorphous-regular {
    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;
}

#container {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

#game {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Metamorphous", serif;
    padding-top: 20px;
    font-size: 42px;
    color: goldenrod;
    text-shadow: 2px 2px 1px rgb(92, 83, 74);
}

h2 {
    text-align: center;
    font-family: "Metamorphous", serif;
    font-size: 24px;
    color: goldenrod;

}



#board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.square {
    border: 2px solid rgb(58, 58, 60);
    min-width: 60px;
    min-height: 60px;
    font-size: 55px;
    font-weight: bold;
    color: gainsboro;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyboard-container {
    height: 200px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button {
    font-family: "Metamorphous", serif;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 58px;
    cursor: pointer;
    background-color: rgb(53, 6, 6);
    color: rgb(215, 218, 220);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.keyboard-row button.wide-button {
    flex-grow: 1.5;
}

.spacer-half {
    flex-grow: 0.5;
}

#refresh {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Metamorphous", serif;
}

#refresh button {
    background-color: rgb(53, 6, 6);
}

.hint-button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 10px;
    height: 55px;
    cursor: pointer;
    color: rgb(215, 218, 220);
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.score-button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 10px;
    height: 55px;
    cursor: pointer;
    color: rgb(215, 218, 220);
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

#statField {
    position: fixed;
    width: 400px;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/mrgl.jpg);
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stat-title {
    font-size: 30px;
}


.close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 32px;
    font-size: large;
    font-family: "Metamorphous", serif;
    background-color: rgb(80, 51, 8);
    border: none;
}

#close-button {
    position: relative;
    border-color: black;
    left: 45%;
    cursor: pointer;
}

#close-button:hover {
    background-color: rgb(53, 6, 6);
    color: rgba(255, 255, 255, 0.76);
}

.refresh-button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 10px;
    height: 55px;
    cursor: pointer;
    color: rgb(215, 218, 220);
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}